<div class="main_content_iner overly_inner">
  <div class="container-fluid p-0">
    <div class="position-relative">
      <page-title [title]="'Settings'"></page-title>
      <hr style="margin-top: -5px" />
      <div class="row">
        <div class="col-md-3"><h6 class="font-weight-bold">API Config</h6></div>
      </div>
      <div class="row">
        <div class="col-md-3 col-lg-2">
          <label for="clientSecret">
            <h6 class="font-weight bold small">Client Secret</h6>
          </label>
          <input
            type="text"
            name="clientSecret"
            id="clientSecret"
            class="form-control"
          />
        </div>
        <div class="col-md-3 col-lg-2">
          <label for="grantType">
            <h6 class="font-weight bold small">Grant Type</h6>
          </label>
          <input
            type="text"
            name="grantType"
            id="grantType"
            class="form-control"
          />
        </div>
        <div class="col-md-3 col-lg-2">
          <label for="client">
            <h6 class="font-weight bold small">Client ID</h6>
          </label>
          <input type="text" name="client" id="client" class="form-control" />
        </div>
        <div class="col-md-3 col-lg-2">
          <label for="username">
            <h6 class="font-weight bold small">Username</h6>
          </label>
          <input
            type="text"
            name="username"
            id="username"
            class="form-control"
          />
        </div>
        <div class="col-md-3 col-lg-2">
          <label for="password">
            <h6 class="font-weight bold small">Password</h6>
          </label>
          <input
            type="text"
            name="password"
            id="password"
            class="form-control"
          />
        </div>
        <div class="col-md-3 col-lg-2">
          <label for="accountNo">
            <h6 class="font-weight bold small">Account No.</h6>
          </label>
          <input
            type="text"
            name="accountNo"
            id="accountNo"
            class="form-control"
          />
        </div>
      </div>
      <div class="col-md-3"><h6 class="font-weight-bold">Accounts</h6></div>
      <div class="row">
        <div class="col-md-3 col-lg-2">
          <label for="pool">
            <h6 class="font-weight bold small">Pool Account</h6>
          </label>
          <select2
            [id]="'pool'"
            name="pool"
            [(ngModel)]="fields.pool"
            ngDefaultControl
          >
          </select2>
        </div>
        <div class="col-md-3 col-lg-2">
          <label for="card">
            <h6 class="font-weight bold small">Card Account</h6>
          </label>
          <select2
            [id]="'card'"
            name="card"
            [(ngModel)]="fields.card"
            ngDefaultControl
          >
          </select2>
        </div>
        <div class="col-md-3 col-lg-2">
          <label for="suspense">
            <h6 class="font-weight bold small">Suspense Account</h6>
          </label>
          <select2
            [id]="'suspense'"
            name="suspense"
            [(ngModel)]="fields.suspense"
            ngDefaultControl
          >
          </select2>
        </div>
      </div>
    </div>
  </div>
</div>
